body {
  background:url('https://img.freepik.com/free-vector/colorful-equalizer-wave-background_23-2148413118.jpg?w=826&t=st=1703718274~exp=1703718874~hmac=0619b40d46021959bfa63c0ad3ae87836e4abfb61cb5fc211daf7e0e0966c051'); 
  background-repeat: no-repeat;
  background-size: cover;
}

.group 			  { 
  position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.4);
	border-radius:3px;
	padding:70px 100px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	

	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #fcf4f4;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.login-button{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
  border: 0;
  color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.login-button:disabled {
	background-color: #943a2f;
	cursor: no-drop;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}